<div class="statusbar">
  <span>● READY</span>
  <span class="blink">SCREEN: <%= controller_name.upcase %></span>
  <span>SYNC: <%= Time.current.strftime("%d %b %Y %H:%M") %></span>
  <span>v0.4.2-cyber</span>
</div>
