<div class="fb-legend">
  <span class="fb-legend__item">
    <span class="fb-status-dot fb-status-dot--uncleared"></span>
    Uncleared
  </span>
  <span class="fb-legend__item">
    <span class="fb-status-dot fb-status-dot--cleared"></span>
    Cleared
  </span>
  <span class="fb-legend__item">
    <span class="fb-status-dot fb-status-dot--reconciled"></span>
    Reconciled
  </span>
  <span class="fb-legend__item">
    <span class="fb-status-dot fb-status-dot--scheduled">S</span>
    Scheduled
  </span>
</div>
