<%= render "shared/sidebar", sidebar_accounts: @sidebar_accounts %>
<div class="flex-grow-1 d-flex align-items-center justify-content-center" style="color: #868e96;">
  <p>No accounts found.</p>
</div>
